{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block header %}
    
{% endblock %}
{% block body %}
{% block container %}
{% endblock %}
    <div class="">
        <div class="row">
            
                {% include '_partials/_admin.html.twig' %}
          
            <main class="col-9 border border-light bg-white p-5">
                <h1>Administration</h1>
            </main>
        </div>
     </div>   
    
{% endblock %}
{% block footer %}
{% endblock %}